@import 'bootstrap';

.center {
  text-align: center;
}

.app_yield {
  padding-top: 3%;
}

.alert_padding {
  padding-top: 2%; 
}

.gorizontal {
  padding-top: 1%;
}

.submit_button {
  margin-top: 0.5%;
  margin-left: 42%;
}

form {
  margin-top: 2%;
  li {
    margin-top: 0.5%;
    list-style: none;
  }
}

.error {
  margin-left: 3%;
}