// Place all the styles related to the distribution controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.center {
  text-align: center;
}

.app_yield {
  padding-top: 5%;
}

.form_new_action {
  // margin-left: 8%; 
}

.submit_button {
  margin-top: 0.5%;
}

form {
  margin-top: 2%;
  li {
    margin-top: 0.5%;
    list-style: none;
  }
}

.error {
  margin-left: 3%;
}